* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 100px; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh; 
    margin: 0;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    display: block;
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.info-image {
    max-width: 40%;
    margin-right: 20px;
}

.info-content {
    max-width: 60%;
    text-align: right;
}

.info h1 {
    font-size: 48px;
    margin-bottom: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info p {
    font-size: 16px;
    margin-bottom: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info a {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer a {
    display: inline-block;
    margin: 10px 15px;
    text-decoration: none;
    color: #000;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

